body {
    margin: 0;
    background-color: rgba(0,0,0,0);
    --header-height: 100px;
    --footer-height: 70px;
}

.btn-login {
    margin-top: 20px;
}

.sidebar-decor {
    margin-top: 200px;
    /*border-radius: 2.0rem;*/
}

.list-group-item {
    background-color: black;
    padding: 4px;
    margin: 0 40px;

}

.list-group-item:hover {
    background-color: white;
    color: black;

}

.list-group {
    color: white;
    text-align: center;
    padding: 10px;
}

.list-group:hover {
    color: black;
    text-decoration: none;

}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.page-link {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.page-link:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.header {
  background-color: black;
  color: #fff;
  text-align: center;
  line-height: var(--header-height);
}

.logo {
    border: 1px solid white;
    padding: 3px;
    color: white;
    margin-left: 20px;
    background-color: transparent;
}

.moto {
    text-align: center;
    color: white;
    font-size: 1.45rem;
}

.login {
    margin-top: 15px;
}

.row {
    margin-right: 0;
}

.footer {
  background-color: black;
  line-height: var(--footer-height);
  color: #fff;
  text-align: center;
}

.main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  margin:  0;
}

.home_sections {
    display: flex;
    margin: 70px 0 0 0;
}

.content {
    margin: 20px 0;
    background-color: rgba(0,0,0,0.24);
    border-radius: 10px;
    opacity: 1;
    padding: 20px;
}

.section {
    margin: 5px 10px 5px 10px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.44);
    color: black;
    text-align: center;
}

.btn-primary {
    background-color: white;
    color: black;
    border: 1px solid black;
}


.btn-primary:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.44);
    border-color: black;
}


.btn-primary:active {
    background-color: black!important;
    box-shadow: none!important;
    border: 1px solid black!important;
}

.section1 {
    margin: 140px 20px;
    padding: 40px 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.44) ;
    color: white;
    text-align: center;
}

.container1 {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    background-image: url("../img/kitchen.jpg");
    backgroung-repeat: repeat;
    background-size: cover;
}

.block_title {
    text-align: center;
}

.explore {
    text-align: center;
}

.footer-basic {
  background-color: black;
  line-height: var(--footer-height);
  color: #fff;
  text-align: center;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: white;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:0;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 14px;
  opacity:0.75;
  background-color: inherit;
  color: #fff;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  text-align:center;
  font-size:18px;
  color:#aaa;
  margin-left: 30px;
}

