body {
    margin: 0;
    background-color: rgba(215,157,90,0.28);
    --header-height: 70px;
    --footer-height: 70px;
}


.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.header {
  background-color: rgba(29,0,215,0.61);
  color: #fff;
  text-align: center;
  line-height: var(--header-height);
}

.logo {
    border: 1px solid white;
    padding: 3px;
    color: white;
    margin-left: 20px;
    background-color: transparent;
}

.moto {
    text-align: center;
    color: white;
    font-size: 1.45rem;
}

.login {
    margin-top: 15px;
}

.row {
    margin-right: 0;
}

.footer {
  background-color: rgba(29,0,215,0.61);
  line-height: var(--footer-height);
  color: #fff;
  text-align: center;
}

.main {
  min-height: calc(95vh - var(--header-height) - var(--footer-height));
  margin: 20px 0;
}

.home_sections {
    display: flex;
    margin: 0;
}

.section {
    margin: 0 5px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: rgba(29,0,215,0.18);
}

.block_title {
    text-align: center;
}

.explore {
    text-align: center;
}

.footer-basic {
  background-color: rgba(29,0,215,0.61);
  line-height: var(--footer-height);
  color: #fff;
  text-align: center;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:0;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 14px;
  opacity:0.75;
  background-color: inherit;
  color: #fff;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  text-align:center;
  font-size:18px;
  color:#aaa;
  margin-left: 30px;
}

