{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Dishes
    <a href="{% url 'kitchen:dish-create' %}" class="btn btn-primary float-right">Create</a>
  </h1>

  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="Search" class="btn btn-secondary">
  </form>

  <br>

  {% if dish_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
      {% for dish in dish_list %}
        <tr>
        <td><a href="{% url 'kitchen:dish-detail' pk=dish.id %}">{{ dish.name }}</a></td>
        <td>{{ dish.description }}</td>
        <td>{{ dish.price }}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>Try to add some, I can't see one </p>
  {% endif %}
{% endblock %}