{% extends "base.html" %}

{% block content %}
  <h2><strong>{{ dish.name }}</strong>
    <a href="{% url 'kitchen:dish-update' pk=dish.id%}" class="btn btn-secondary float-right">Update</a>
  </h2>

  <p><strong>Price: </strong> {{ dish.price }}</p>
  <p>{{ dish.description }}</p>

  <div class="ml-3">
    <h4>Ingredients</h4>
    {% for ingredient in dish.ingredients.all %}
      <li>
        {{ ingredient.name }}
      </li>
    {% empty %}
      <p>No ingredients provided</p>
    {% endfor %}
  </div>
  <br>
  <div class="ml-3">
    <h4>Cooks</h4>

  {% if dish in user.dishes.all %}
      <a href="{% url 'kitchen:dish-assign' pk=dish.id %}" class="btn btn-primary link-to-page">
        Delete me as cook
      </a>
    {% else %}
      <a href="{% url 'kitchen:dish-assign' pk=dish.id %}" class="btn btn-primary link-to-page">
        Add me as cook
      </a>
    {% endif %}

    {% for cook in dish.cooks.all %}
      <ul>
        <p><strong>Username: </strong>{{ cook.username }}</p>
        <p><strong>Name: </strong>{{ cook.first_name }} {{ cook.last_name }}</p>
      </ul>
    {% empty %}
      <p>No cooks assigned to this dish</p>
    {% endfor %}
  </div>
  <a href="{% url 'kitchen:dish-delete' pk=dish.id%}" class="btn btn-primary">Delete</a>

{% endblock %}
