{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Dishes
    <a href="{% url 'kitchen:dish-create' %}" class="btn btn-primary float-right">Create</a>
  </h1>

  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="Search" class="btn btn-secondary">
  </form>

  <br>

  {% if dish_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
      {% for dish in dish_list %}
        <tr>
        <td><a href="{% url 'kitchen:dish-detail' pk=dish.id %}">{{ dish.name }}</a></td>
        <td>{{ dish.description }}</td>
        <td>{{ dish.price }}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>Try to add some, I can't see one </p>
  {% endif %}

  {% block pagination %}
      {% include "includes/pagination.html" %}
  {% endblock %}

  <div class="home_sections">
    <article class="section">
      <h3 class="block_title">Dish types</h3>
      <p>Explore dish types that can be applied to creation of the dish.
        Add some or modify if needed
      </p>
      <p class="explore">
        <a href="{% url 'kitchen:dish-types-list' %}" class="btn btn-primary">Explore</a>
      </p>
    </article>
    <article class="section">
      <h3 class="block_title">Ingredients</h3>
      <p>Explore ingredientsthat can be applied to creation of the dish.
        Add some or modify if needed
      </p>
      <p class="explore">
        <a href="{% url 'kitchen:ingredients-list' %}" class="btn btn-primary">Explore</a>
      </p>
    </article>
  </div>
{% endblock %}